#mname{
color:white;
margin-top:10px;
margin-left:120px;
background-image:linear-gradient(to right,#a9a9a9,#c0c0c0,#d3d3d3);
border-left:2px solid black;
height:50px;
padding-top:10px;
padding-left:10px;
padding-bottom:10px;
font-size:20px;
font-family:"Comic Sans MS", cursive, sans-serif;
-webkit-text-stroke-width: 0.5px;
-webkit-text-stroke-color:black;
}
#msgl{
padding-top:10px;
background-image:linear-gradient(to left,white,#d3d3d3,#c0c0c0,#a9a9a9);
height:60px;
margin-left:120px;
border-left:3px solid black;
color:#483D8B;
padding-left:10px;
font-size:20px;
padding-right:20px;
font-family:Papyrus;
}
#msgr{
padding-top:10px;
height:60px;
background-image:linear-gradient(to left,#a9a9a9,#c0c0c0,#d3d3d3,white);
margin-left:120px;
border-right:3px solid black;
color:#483D8B;
padding-left:10px;
font-size:20px;
padding-right:20px;
font-family:Papyrus;
}
#sendmessege{
margin-left:120px;
font-size:30px;
font-family:Comic Sans MS;
}
.sendc{
width:80%;
height:30px;
}
.sendb{
margin-top:10px;
height:60px;
width:70px;
}
.sendc:hover{
background:#d3d3d3;
}
.sendc:focus{
background:#d3d3d3;
}